ion-content {
  --padding-bottom: 80px;
}

ion-list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

ion-item {
  border-radius: 8px;
  margin-bottom: 6px;
  background: #f3f3f3;
  ion-text {
    font-size: 1.1em;
  }
}

ion-footer {
  ion-toolbar {
    display: flex;
    align-items: center;
    ion-input {
      flex: 1;
      margin-right: 10px;
    }
  }
}